<div class="container main-page">

<h1>Великий регистратор недомогания</h1>

<div class="row">
    <div class="col s12 m5 white">
        <h4>Головная боль</h4>

        <form action="#">
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Справа</span>
                </label>
            </p>

        </form>
            <form action="#">
                <p>
                    <label>
                        <input type="checkbox" />
                        <span>Слева</span>
                    </label>
                </p>
            </form>

    </div>
    <div class="col s12 m2"></div>
    <div class="col s12 m5 white">
        <h4>Онемение</h4>

        <form action="#">
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Red</span>
                </label>
            </p>
        </form>
    </div>
</div>

    <div class="row">
        <div class="col s12 m5 white">
            <h4>Факторы</h4>

            <form action="#">
                <p>
                    <label>
                        <input type="checkbox" />
                        <span>Red</span>
                    </label>
                </p>
            </form>
        </div>
        <div class="col s12 m2"></div>
        <div class="col s12 m5 white">
            <h4>Ещё что-то</h4>

            <form action="#">
                <p>
                    <label>
                        <input type="checkbox" />
                        <span>Red</span>
                    </label>
                </p>
                </form>
        </div>
        <div class="col s12">{{jsona}}</div>
    </div>


</div>